# Python мусор
__pycache__/
*.pyc
venv/
.env

# База данных 
# db.sqlite3

# Статика и медиа 
media/
staticfiles/


#нурсат добавил это если че, твое с верху
# .gitignore

# Виртуальное окружение (папка venv)
venv/
env/
.env

# База данных (мы ее не грузим, она локальная)
db.sqlite3

# Папки с кэшем (мусор)
__pycache__/
*.py[cod]
.DS_Store

# Медиа файлы (картинки товаров, чеков)
media/